rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /journeys/{userUid} {
      allow read, write, update, delete: if request.auth != null && request.auth.uid == userUid;
      allow create: if request.auth != null;
      match /trips/{document=**} {
      	allow read, write, create, update, delete: if request.auth != null && request.auth.uid == userUid;
      }
    }
  }
}